<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.illegaller.ratabb.hishoot2i"
    android:versionCode="1"
    android:versionName="@string/app_ver" >

    <uses-sdk
        android:maxSdkVersion="22"
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   
    <application
        android:name=".HishootApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="@bool/largeheap"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".ui.HishootActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.crop.CropImage"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".ui.OlderSettingActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppBaseTheme" />
    </application>

</manifest>