<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.illegaller.ratabb.hishoot2i">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:appCategory="image"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <!-- NOTE:
        GoogleAppIndexingWarning: IDK
        UnusedAttribute:  android:appCategory="image" Api26+
        TODO: requestLegacyExternalStorage
        https://developer.android.com/preview/privacy/storage#scoped-storage
        https://developer.android.com/training/data-storage/use-cases#opt-out-scoped-storage
        -->
        <activity
            android:name=".SingleActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Branded">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <!--TODO: Caoc ? Explicit here, cause category launcher using ALIAS  -->
                <action android:name="cat.ereza.customactivityoncrash.RESTART" />
            </intent-filter>
        </activity>
        <!--|| ALIAS ||-->
        <!-- Launcher -->
        <activity-alias
            android:name=".ui.activity.MainActivity"
            android:targetActivity=".SingleActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            -->
        </activity-alias>
        <!-- Image Receiver -->
        <activity-alias
            android:name=".ScreenReceiver"
            android:excludeFromRecents="true"
            android:label="@string/screen"
            android:targetActivity=".SingleActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <meta-data
                android:name="${image_receiver_key}"
                android:resource="@string/screen" />
        </activity-alias>
        <activity-alias
            android:name=".BackgroundReceiver"
            android:excludeFromRecents="true"
            android:label="@string/background"
            android:targetActivity=".SingleActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <meta-data
                android:name="${image_receiver_key}"
                android:resource="@string/background" />
        </activity-alias>
        <!--Import Htz-->
        <!--<activity-alias
            android:name=".ImportHtzReceiver"
            android:excludeFromRecents="true"
            android:label="@string/import_htz"
            android:targetActivity=".SingleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\\.htz"
                    android:scheme="file" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern="/.*\\.htz"
                    android:scheme="file" />
            </intent-filter>
        </activity-alias>-->
        <!-- FileProvider -->
        <provider
            android:name=".provider.SavedStorageProvider"
            android:authorities="${file_authority}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
</manifest>