<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.illegaller.ratabb.hishoot2i">

    <application
        android:name=".DebugApp"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name" />

</manifest>